streamlit
langchain_core
langchain_community
langchain_ollama
pdfplumber
openai
python-dotenv
langchain_docling
langchain_groq
langchain_openai
faiss-cpu
langchain 
openai 
langchain-chroma 
langchain-experimental
unstructured[all-docs]
pillow 
pydantic 
lxml
matplotlib 
chromadb 
tiktoken
ipykernel
sentence-transformers